@tailwind base;

@tailwind components;

@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";

@layer base {
	body,
	html {
		@apply p-0 m-0 min-h-screen font-poppins;
	}
}

@layer components {
	.hamburger {
		@apply flex flex-col gap-[0.35rem];
	}
	.hamburger > span {
		@apply inline-block w-8 h-[0.3rem] bg-slate-800 rounded-lg transition-all ease-in-out duration-300;
	}

	/* Card */
	.card-header {
		@apply w-full h-52;
	}

	.card-header > img {
		@apply w-full h-52 object-scale-down;
	}

	.card-content {
		@apply px-5 py-3;
	}

	/* Login And Register Form */
	.form-control {
		@apply w-full flex flex-col gap-1;
	}

	.form-input {
		@apply h-10 w-full py-3 px-2 rounded-md bg-slate-300 outline-none text-[#7B8FA1];
	}

	.form-button {
		@apply bg-primary w-1/2 lg:w-2/3 py-1 rounded-lg text-white;
	}

	/* otp */
	.otp {
		@apply w-16 h-16 rounded-lg text-center text-2xl bg-slate-300;
	}

	/* Btn */
	.btn__cta {
		@apply bg-primary px-5 py-2 rounded-xl text-white;
	}
}

@layer utilities {
	/* Hamburger Class Utilities */

	.hamburger.active > span:nth-child(1) {
		@apply rotate-[45deg] translate-y-2;
	}
	.hamburger.active > span:nth-child(2) {
		@apply w-0;
	}
	.hamburger.active > span:nth-child(3) {
		@apply -rotate-[45deg] -translate-y-[0.85rem];
	}

	/* Menu Class Utilities */
	a[aria-current="page"]:not(.none) {
		@apply text-primary relative after:content-[''] after:w-full after:h-[0.2rem] after:bg-primary after:absolute after:-bottom-6 after:right-0;
	}

	/* Vertical Text */
	.writing-mode-vlr {
		display: flex;
		align-items: center;
		writing-mode: vertical-rl;
	}

	/* Car Details Image Collage */
	.image-collage-active {
		@apply border-primary border-[3px];
	}
}
