@tailwind base;

@tailwind components;

@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@layer base {
	body,
	html {
		@apply p-0 m-0 min-h-screen font-poppins;
	}
}

@layer components {
	.hamburger {
		@apply flex flex-col gap-[0.35rem];
	}
	.hamburger > span {
		@apply inline-block w-8 h-[0.3rem] bg-slate-800 rounded-lg transition-all ease-in-out duration-300;
	}

	/* Card */
	.card-header {
		@apply w-full h-52;
	}

	.card-header > img {
		@apply w-full h-52 object-scale-down;
	}

	.card-content {
		@apply px-5 py-3;
	}
}

@layer utilities {
	/* Hamburger Class Utilities */

	.hamburger.active > span:nth-child(1) {
		@apply rotate-[45deg] translate-y-2;
	}
	.hamburger.active > span:nth-child(2) {
		@apply w-0;
	}
	.hamburger.active > span:nth-child(3) {
		@apply -rotate-[45deg] -translate-y-[0.85rem];
	}

	/* Menu Class Utilities */
	nav.bottom-navbar div a {
		@apply transition-all duration-1000 fill-white p-3 absolute left-0 -top-2 border-none;
	}

	nav.bottom-navbar div a.router-link-exact-active {
		@apply bg-white rounded-full fill-primary -translate-y-8 box-border text-primary;
	}

	/* Vertical Text */
	.writing-mode-vlr {
		display: flex;
		align-items: center;
		writing-mode: vertical-rl;
	}
}
